<div class="lg:grid lg:grid-cols-12 lg:gap-x-5">
  <.live_component module={PearsWeb.SettingsNav} id="settings_nav" current_path={@current_path} />
  <div class="space-y-6 sm:px-6 lg:col-span-9 lg:px-0">
    <.form for={@name_form} id="name_form" phx-submit="update_name" phx-change="validate_name">
      <div class="shadow sm:overflow-hidden sm:rounded-md">
        <div class="space-y-6 bg-white px-4 py-6 sm:p-6">
          <div>
            <h3 class="text-base font-semibold leading-6 text-gray-900">Change Name</h3>
            <p class="mt-1 text-sm text-gray-500"></p>
          </div>
          <div class="grid grid-cols-2 gap-6">
            <.input field={@name_form[:name]} type="text" label="New Name" required />
            <.input
              field={@name_form[:current_password]}
              name="current_password"
              id="current_password_for_name"
              type="password"
              label="Current password"
              value={@name_form_current_password}
              required
            />
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
          <button
            phx-disable-with="Changing..."
            class={[
              "inline-flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md",
              "text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:border-green-700",
              "focus:shadow-outline-green active:bg-green-700 transition duration-150 ease-in-out"
            ]}
          >
            Change Name
          </button>
        </div>
      </div>
    </.form>

    <div class="shadow sm:overflow-hidden sm:rounded-md">
      <div class="space-y-6 bg-white px-4 py-6 sm:p-6">
        <div>
          <h3 class="text-base font-semibold leading-6 text-gray-900">Remove team</h3>
          <p class="mt-1 text-sm text-gray-500">
            🚨 No validation here yet, click at your own risk 🚨
          </p>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
        <button
          phx-disable-with="Removing..."
          phx-click="remove_team"
          class={[
            "inline-flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md",
            "text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:border-red-700",
            "focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out"
          ]}
        >
          ⚠️ Delete Forever ⚠️
        </button>
      </div>
    </div>
  </div>
</div>
